/* https://materializecss.com/color.html https://www.geogebra.org/scientific */

$Stone: #e4e4e4;
$DarkOne: rgba(0,0,0,.87);;
$Purple: #6557d2;
$Red: #E57373;

$Grey-l-5: #fafafa;
$Grey-l-4: #f5f5f5;
$Grey-l-3: #eeeeee;
$Grey-l-2: #e0e0e0;
$Grey-l-1: #bdbdbd;
$Grey: #9e9e9e;
$Grey-d-1: #757575;
$Grey-d-2: #616161;
$Grey-d-3: #424242;
$Grey-d-4: #212121;

$Brown-l-5: #efebe9;
$Brown-l-4: #d7ccc8;
$Brown-l-3: #bcaaa4;
$Brown-l-2: #a1887f;
$Brown-l-1: #8d6e63;
$Brown:#795548;
$Brown-d-1: #6d4c41;
$Brown-d-2:#5d4037;
$Brown-d-3:#4e342e;
$Brown-d-4:#3e2723;